/* Small Size Screens Only */
@media only screen and (max-width: 40em) {
    .headlineTextWrapper{
        padding: 0px 10px 0px 10px !important;
    }
    
    .headlineTitle{
        font-size: 34px !important;
        line-height: 50px !important;
    }
    
    .headlineText{
        font-size: 18px !important;
    }
}

/* Medium Size Screens Only */
@media only screen and (min-width: 40.01em) and (max-width: 64em) {
    .headlineTextWrapper{
        padding: 0px 10px 0px 10px !important;
    }
    
    .headlineTitle{
        font-size: 42px !important;
        line-height: 60px !important;
    }
    
    .headlineText{
        font-size: 18px !important;
    }
}
/*** --- Nav Bar Style --- ***/
#navBar{
    background-color: #fff;
    height: 70px;
    position: fixed;
    z-index: 9999;
}

.bitnessLogo img{
    padding: 10px;
}

/*** --- Nav Bar Hover Style --- ***/
.current{
    border-bottom: 2px solid #fff;
}

.sliding-middle-out {
	display: inline-block;
	position: relative;
}
.sliding-middle-out:after {
	content: '';
	display: block;
	margin: auto;
	height: 2px;
	width: 0px;
	background: transparent;
	transition: width .25s ease, background-color .25s ease;
}
.sliding-middle-out:hover:after {
	width: 100%;
	background: #fff;
}

/*** --- Homepage Style --- ***/

#homePageWrapper{
    background-image: url("../images/hero.jpg");
    border-top: 1px solid #e9e9e9;
    height: 530px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    overflow: hidden;
    position: relative;
    padding-top: 40px;
}

.headlineTextWrapper{
    max-width: 1080px;
    padding: 0px 30px 40px 30px;
    margin: 0 auto;
}

.headlineTitle{
    text-transform: none;
    font-size: 64px;
    font-family: "calluna-sans","Open Sans","HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 600;
    line-height: 1em;
    display: inline;
    overflow: hidden;
    color: #fff;
}

.headlineText{
    max-width: 700px;
    margin: 0px auto 60px auto;
    font-family: "calluna-sans","Open Sans","HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 18px;
    line-height: 1.7;
    font-weight: 400;
    padding-top: 40px;
    color: #afb1b2;
}

#homePageWrapper .headlineTextWrapper a{
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 2px solid #F18021;
    font-family: "calluna-sans","Open Sans","HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #F18021;
    font-size: 20px;
    font-weight: 400;
    background-color: none;
    padding: 10px 40px 10px 40px;
    text-decoration: none;
    -webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    -ms-transition: background-color .3s;
    -o-transition: background-color .3s
    transition: background-color .3s;
}

#homePageWrapper .headlineTextWrapper a:hover {
    background: #F18021;
    color: #fff;
    text-decoration: none;
    -webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    -ms-transition: background-color .3s;
    -o-transition: background-color .3s
    transition: background-color .3s;
}

#spaceRaceVideoTitle{
    font-family: "calluna-sans","Open Sans","HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #414242;
    font-size: 28px;
    font-weight: 600;
}

.spaceraceLogo{
    padding: 0px 10px;
}

/*** Bitness Styles ***/

.divider{
	width: 100px;
	border-bottom: 1px solid #e9e9e9;
	margin: 5px auto;
}

.noPadding{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

#bitnessPageIntro{
    background-color: #fff;
    text-align: center;
    padding: 40px 0px;
}

#bitnessFeatureSection{
    padding: 40px 0px;
    text-align: center;
    background-color: #242c3a;
}

#bitnessFeaturesList{
}

#bitnessFeaturesList ul{
    padding: 0 0 20px 0;
}

.featWrapper{
    text-align: left;
    padding: 0 15px !important;
}

.featImg{
    height: 100px;
    margin-bottom: 18px;
}

.featTitle{
    font-family: "calluna-sans","Open Sans","HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 20px;
    font-weight: 700;
	color: #fff;
    margin-bottom: 14px;
}

.featText{
    font-family: "calluna-sans","Open Sans","HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 14px;
    font-weight: 500;
	color: #b2b4b7;
    margin-bottom: 20px;
}

.projectSoloImage img{
    display: block;
    margin: 0 auto;
}

#bitnessTeamSection{
    background-color: #fff;
    padding: 40px 0px;
}

#bitnessTeamList{
    text-align: center;
}

.memberImg{
    
}

.memberName{
    font-family: "calluna-sans","Open Sans","HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 20px;
    font-weight: 600;
	color: #fff;
    margin: 0;
}

.memberRole{
    font-family: "calluna-sans","Open Sans","HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 12px;
    font-weight: 400;
	color: #10B1E8;
}

.teamImg{
	position: relative;
}

.teamImg:hover .teamOverlay{
	display: block;
	text-align: center;
}

.teamOverlay{
	position: relative;
	top: 0;
    margin: -145px auto 0 auto;
	width: 145px;
    height: 145px;
	background: rgba(54,54,54,1.0);
    opacity: 0;
    padding-top: 47px;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    text-align: center;
    border-radius: 50%;
}

.teamOverlay:hover{
    position: relative;
	top: 0;
    margin: -145px auto 0 auto;
	width: 145px;
    height: 145px;
	background: rgba(54,54,54,1.0);
    opacity: 1;
    padding-top: 47px;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    text-align: center;
    border-radius: 50%;
}

.sectionTitle{
    display: block;
	font-family: "calluna-sans","Open Sans","HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 40px;
    font-weight: 600;
	color: #414242;
    margin: 0px;
    margin-bottom: 60px;
    text-align: center;
}

.sectionTitleWhite{
    display: block;
	font-family: "calluna-sans","Open Sans","HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 40px;
    font-weight: 600;
	color: #fff;
    margin: 0px;
    margin-bottom: 60px;
    text-align: center;
}

.pageTitleBlack{
	display: block;
	font-family: "calluna-sans","Open Sans","HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 40px;
    font-weight: 600;
	color: #414242;
    margin: 0px 0px 25px 0px;
}

.paragraphText{
    max-width: 700px;
    font-family: "calluna-sans","Open Sans","HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 16px;
    font-weight: 400;
    color: #777;
    margin: 0 auto;
    text-align: center;
}

#copyright{
    background-color: #242c3a; 
	font-family: "calluna-sans","Open Sans","HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 12px;
	font-weight: 500;
	color: #fff;
	text-align: center;
    padding: 20px 0px;
}